body {
  font-family: system-ui;
  background-color: #DDD;
}
.warning {
  color: red;
  width: fit-content;
  margin: auto;
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
h2 {
  color: #3AB4F2;
  width: fit-content;
  font-size: 35px;
  padding: 0 40px;
  margin: 40px auto;
}
form {
  width: 400px ;
  margin: auto;
  text-align: center;
}
.input {
  width: 350px;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: lightseagreen;
  font-size: 18px;
  border-radius: 6px;
}
.radio-inputs {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}
input[type="radio"] {
  font-size: 20px;
}
input[type='submit'], a.cancel {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 50px auto; 
  font-size: 18px;
  margin: 10px;
}
input[name="submit"] {
  background-color: #3AB4F2;
  border: 2px solid #3AB4F2;
  color: white;
  padding: 11px 60px;
}
a.cancel {
  padding: 10px 50px;
  background-color: white;
  color: #3AB4F2;
  border: 2px solid #3AB4F2;
  text-decoration: none;
}
.submition {
  width: fit-content; 
  margin: auto;
}
